.alignCardsVertically{
    margin-top: 15px;
    width: 100px;
    height: 153px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    border: solid 1px lavender;
    padding-left: -5;
    cursor: pointer;
}

.tableauCard{
    height: 37px;
}