.tableTop{
    margin: auto;
    width: 600px;
}

.topSection{
    height: 130px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.alignDeckAndSelection{
    width: 200px;
    height: 130px;
    display: flex;
    align-items: flex-start;
}

.alignFoundations{
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

.alignTableaus{
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}