.tableTop{
    margin: auto;
    width: 600px;
}

.topSection{
    display: flex;
    height: 130px;
    justify-content: space-between;
}

.alignDeckAndSelection{
    display: flex;
    width: 200px;
    height: 130px;
    align-items: flex-start;
}

.alignFoundations{
    float: right;
    display: flex;
    width: 340px;
    justify-content: space-between;
    align-content: flex-end;
}

.alignTableaus{
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: flex-start;
}